# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

# Database
*.db

# Distribution / packaging
dist/
*.egg-info/

# Coverage
htmlcov/
.coverage
.coverage.*

# Ruff
.ruff_cache/

# IDE
.idea/
.vscode/
